* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top left, #0f2027, #000);
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
}

.logo {
    font-size: 42px;          /* LOGO PLUS GRAND */
    font-weight: 800;
    color: #ff4f9a;           /* ROSE */
    letter-spacing: 2px;
}


.logo span {
    color: #3ccfcf;
}

nav a {
    margin: 0 15px;
    color: #ddd;
    text-decoration: none;
}

.cta {
    background: #3ccfcf;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ccc;
}

.primary-btn {
    background: #3ccfcf;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.features li {
    list-style: none;
    margin: 10px 0;
    color: #9ff;
}

.hero-image img {
    width: 450px;
    border-radius: 15px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}
